<div class="container">
<h3>Create Teacher</h3>
    <%= render "form" %>
    <strong>Select Tution</strong>
    <%#= collection_check_boxes(:teacher, :connected_by_id, Tution.all,:id,:name)%>


    <%@teachers.each do |teacher|%>
        <%=teacher.name%>
    <%end%>
</div>
