<div class="container">
<h3>Create Teacher</h3>
    <%= render "form" %>
    <%#= collection_check_boxes(:teacher, :connected_by_id, Tution.all,:id,:name)%>

<table class="table">
    <tr>
        <th>Teachers</th>
    </tr>

    <%@teachers.each do |teacher|%>
    <tr>
        <td><%=teacher.name%></td>
    </tr>
    <%end%>
</table>
